#category_links.column 
  if menu_length != 0
    each category in restaurant.menu 
      a(href=`#${category.category.replace(' ', '_')}`)
        strong #{category.category}
      br 
      br
#itemized_menu.column
  if menu_length != 0
    each category in restaurant.menu
      div(id=`${category.category.replace(' ', '_')}`)
        h3 #{category.category}
        each food_item in category.items
          p #{food_item.name}
          | 
          p.item-description #{food_item.description}
          | 
          p $#{Number(food_item.price).toFixed(2)}
          br